.custom-carousel:hover .react-multiple-carousel__arrow {
    top: 78px
}

.custom-carousel .react-multiple-carousel__arrow--left {
    left: 0;
}

.custom-carousel .react-multiple-carousel__arrow--right {
    right: 0;
}

.custom-carousel {
    overflow-x: hidden;
    position: relative;
}

.custom-carousel .react-multiple-carousel__arrow {
    z-index: 10;
    position: absolute !important;
    background: rgba(43, 42, 42, 0.5);
}

.custom-carousel .react-multiple-carousel__arrow:hover {
    background: rgb(209, 27, 27, 0.8);
    transition: all 0.5s;
}

.movie-slide {
    padding-bottom: 2rem;
    margin-top: 1rem;
    height: 250px;
    position: relative;
}

.movie-slide div ul li {
    display: flex;
    justify-content: center;
}

.moviecard {
    width: 355px;
    height: 200px;
    background-position: center center;
    transition: transform 0.3s ease-in-out;
    transform-origin: center bottom;
    z-index: 1;
}


.overlay {
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0));
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 1s;
}

.overlay div {
    padding: 5px 3px;
}

.overlay h1 {
    padding: 0 3px;
}


.moviecard:hover .overlay {
    opacity: 1;

}


@media (min-width:500px) {
    .moviecard:hover {
        transform: translateY(-78px) scale(1.1) !important;
        height: 360px;
        max-width: 270px;
        max-height: max-content;
        z-index: 10 !important;
        background-size: cover;
        background-position: center center;
        transform-origin: center bottom;
        margin-right: 13px;
        box-shadow: 0px 4px 10px 10px #a71d13;
        border-radius: 5px;
        overflow: visible !important;
    }

    .custom-carousel:hover .moviecard {
        overflow: visible;
    }

    .custom-carousel:hover {
        overflow: visible;
        position: relative;
        z-index: 1;
    }

    .cardinfo-hide,
    .carddirec-hide {
        display: none;
    }

}


@media (max-width:500px) {
    .moviecard:hover {
        transform: scale(1) !important;
        height: 200px;
        z-index: 10 !important;
        background-size: cover;
        background-position: center center;
        transform-origin: center bottom;
        margin-right: 13px;
        box-shadow: 0px 4px 10px 10px #a71d13;
        border-radius: 5px;
        overflow: hidden !important;
        transition: all 1s;
    }


    .react-multiple-carousel__arrow {
        display: none;
    }

    .custom-carousel:hover .moviecard {
        overflow-x: hidden;
    }

    .custom-carousel:hover {
        overflow-x: hidden;
        position: relative;
        z-index: 1;
    }

    .overlay {
        opacity: 1;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0));
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 1s;
    }

    .overlay h1 {
        text-align: end;
        opacity: 1 !important;
    }

    .cardinfo-hide {
        opacity: 0.6;
        text-align: center;
        bottom: -10%;
        position: relative;
        font-size: 14px;
    }

    .overlay div {
        padding: 5px 3px;
        opacity: 0;
    }

    .moviecard:hover .overlay,
    .moviecard:hover .overlay div {
        opacity: 1;

    }

    .moviecard:hover .overlay h1 {
        opacity: 1;
        text-align: start;
    }

    .moviecard:hover .cardinfo-hide {
        opacity: 0;
    }
}