.custom-carousel:hover .react-multiple-carousel__arrow {
    top: 78px
}

.custom-carousel .react-multiple-carousel__arrow--left {
    left: 0;
}

.custom-carousel .react-multiple-carousel__arrow--right {
    right: 0;
}

.custom-carousel {
    overflow-x: hidden;
    position: relative;
}

.custom-carousel .react-multiple-carousel__arrow {
    z-index: 10;
    position: absolute !important;
    background: rgba(43, 42, 42, 0.5);
}

.custom-carousel .react-multiple-carousel__arrow:hover {
    background: rgb(209, 27, 27, 0.8);
    transition: all 0.5s;
}



/**/
.movie-slide div ul li {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
}

/**/
.movie-slide {
    margin-top: 1rem;
    height: 250px;
    position: relative;
    width: 100%;
}

/* .movie-slide div ul li {
    display: flex;
    justify-content: flex-start;
    left: -9px;
} */

.moviecard {
    width: 355px;
    height: 200px;
    background-position: center center;
    transition: transform 0.3s ease-in-out;
    transform-origin: center bottom;
    z-index: 1;
    bottom: 0;
    position: relative;
    box-sizing: border-box;
}


.moviecard-backgroud-home {
    height: 200px;
    margin: 2px;
    position: relative;
    z-index: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}


@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 500px;
    --card-width: calc(var(--card-height) / 1.5);
}

.moviecard-backgroud-home:hover::before {
    background-image: linear-gradient(var(--rotate), #fbd17c, #e99001 40%, #a14b0d);
}

.moviecard-backgroud-home:hover::after {
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #fbd17c, #e99001 40%, #a14b0d);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
    position: absolute;
}

.moviecard-backgroud-home::before {
    content: "";
    width: 101%;
    height: 101%;
    border-radius: 4px;
    background-image: linear-gradient(var(--rotate), #e7665d, #a71d13 40%, #530909);
    position: absolute;
    animation: spin 2.5s linear infinite;
}


@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}


.overlay {
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0));
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 1s;
}

.overlay div {
    padding: 5px 3px;
}

.overlay h1 {
    padding: 0 3px;
}


.moviecard:hover .overlay {
    opacity: 1;

}



@media (min-width:1590px) {
    .moviecard-backgroud-home:hover .moviecard {
        transform: scale(1) !important;
        transition: all 0.5s;
        height: 500px !important;
        max-width: 350px !important;
        max-height: max-content;
        z-index: 10 !important;
        background-size: cover;
        background-position: center center;
        transform-origin: center bottom;
        border-radius: 5px;
        overflow: visible !important;
    }

    .custom-carousel:hover .moviecard {
        overflow: visible;
    }

    .custom-carousel:hover {
        overflow: visible;
        position: relative;
        z-index: 1;
    }

    .cardinfo-hide,
    .carddirec-hide {
        display: none;
    }


    .moviecard-backgroud-home:hover {
        height: 500px !important;
        max-width: 100%;
        transform: translateY(-148px) scale(1.1) !important;
        transition: all 0.5s;

    }


}


@media (min-width:500px) and (max-width:1590px) {
    .moviecard-backgroud-home:hover .moviecard {
        transform: scale(1) !important;
        transition: all 0.5s;
        height: 360px;
        max-width: 270px;
        max-height: max-content;
        z-index: 10 !important;
        background-size: cover;
        background-position: center center;
        transform-origin: center bottom;
        border-radius: 5px;
        overflow: visible !important;
    }

    .custom-carousel:hover .moviecard {
        overflow: visible;
    }

    .custom-carousel:hover {
        overflow: visible;
        position: relative;
        z-index: 1;
    }

    .cardinfo-hide,
    .carddirec-hide {
        display: none;
    }

    .moviecard-backgroud-home:hover {
        height: 360px;
        max-width: fit-content;
        transform: translateY(-78px) scale(1.1) !important;
        transition: all 0.5s;
    }


}


@media (max-width:500px) {
    .moviecard:hover {
        transform: scale(1) !important;
        height: 200px;
        z-index: 10 !important;
        background-size: cover;
        background-position: center center;
        transform-origin: center bottom;
        margin-right: 13px;
        border-radius: 5px;
        overflow: hidden !important;
        transition: all 1s;
    }


    .react-multiple-carousel__arrow {
        display: none;
    }

    .custom-carousel:hover .moviecard {
        overflow-x: hidden;
    }

    .custom-carousel:hover {
        overflow-x: hidden;
        position: relative;
        z-index: 1;
    }

    .overlay {
        opacity: 1;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0));
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 1s;
    }

    .overlay h1 {
        text-align: end;
        opacity: 1 !important;
    }

    .cardinfo-hide {
        opacity: 0.6;
        text-align: center;
        bottom: -20%;
        position: relative;
        font-size: 14px;
    }

    .overlay div {
        padding: 5px 3px;
        opacity: 0;
    }

    .moviecard:hover .overlay,
    .moviecard:hover .overlay div {
        opacity: 1;

    }

    .moviecard:hover .overlay h1 {
        opacity: 1;
        text-align: start;
    }

    .moviecard:hover .cardinfo-hide {
        opacity: 0;
    }


    .moviecard-backgroud-home:hover::after {
        background-image: none !important;
    }
}

@media (max-width:375px) {
    .overlay h1 {
        text-align: start;
        opacity: 1 !important;
    }

    .moviecard-backgroud-home,
    .moviecard {
        border-radius: 10px;
    }

    .moviecard-backgroud-home:hover::after {
        background-image: none !important;
    }


}