html {
    background-color: black;

}

.appbody {
    background-color: black;
    color: white;
    height: max-content;
    /* z-index: 50; */
}

.navlogo {
    padding-left: 25px;
    width: 130px;
}

.navbarstyle {
    display: flex !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: transparent !important;
    position: fixed !important;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;

}

.navbarstyle.transparent {
    background-color: rgba(0, 0, 0, 1) !important;
}

.navbarstyle.opaque {
    background-color: rgba(0, 0, 0, 0) !important;
}

@media (max-width: 600px) {

    .nav-item {
        font-size: 14px;
        margin-right: 8px;
    }

    .navbar-form {
        width: 100%;
        max-width: 150px;
    }


}


.nav-item {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.nav-item:hover {
    color: #d24036;
}

.nav-item .nav-link {
    color: white;
}

.nav-item .nav-link:hover {
    color: #d24036;
}

.nav-item .nav-link.active {
    border: 1px solid white !important;
    background: none !important;
    color: #d24036 !important;
}


.banner-item {
    display: flex;
    align-items: center;
    height: 100vh;

}

.banner-info {
    width: 40%;
    color: whitesmoke;
    margin-left: 30px;
    z-index: 1;

}

.banner-item::before {
    position: absolute;
    left: 0;
    width: 100%;
    content: '';
    /* background: linear-gradient(to right, black, transparent); */
    background: linear-gradient(rgba(0, 0, 0, 0.7) 0.9%, rgba(0, 0, 0, 0) 10%),
        linear-gradient(to right, rgba(0, 0, 0, 0.5) 3%, rgba(0, 0, 0, 0)),
        linear-gradient(to top, rgba(0, 0, 0, 1) 3%, rgba(0, 0, 0, 0) 17%);
    height: 100vh;

}

.banner-item h1 {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
}

.banner-item p {
    font-family: 'Kanit', sans-serif;

}

.home-content {
    margin: 5rem;
}

.home-content h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    padding-bottom: 1rem;
    margin: 0;
}

.home-h1 {
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: white;
    color: #e3564f;
    text-shadow: 2px 1px 4px white;
}

@media (max-width:500px) {

    .banner-item h1 {
        font-size: 1.8rem;
    }

    .banner-item p {
        font-size: 0.8rem;

    }

    .home-content h1 {
        font-size: 1.2rem;
    }
}


@media (min-width: 500px) {
    .banner-item h1 {
        font-size: 2.5rem;
    }

    .banner-item p {
        font-size: 1rem;
    }

    .home-content h1 {
        font-size: 1.7rem;
    }
}

@media (min-width: 992px) {
    .banner-item h1 {
        font-size: 3.5rem;
    }

    .banner-item p {
        font-size: 1.1rem;
    }

    .home-content h1 {
        font-size: 2rem;
    }

}


@media (min-width: 1200px) {
    .banner-item h1 {
        font-size: 4.5rem;
    }

    .banner-item p {
        font-size: 1.1rem;
    }

    .home-content h1 {
        font-size: 2.3rem;
    }
}

.movie-slide {
    padding-bottom: 2rem;
}

.movie-slide div ul li {
    display: flex;
    justify-content: center;

}


.moviecard {
    width: 355px;
    height: 200px;

}

.overlay {
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0));
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all .5s;
}

.overlay div {
    padding: 5px 3px;
}

.overlay h1 {
    padding: 0 3px;
}


.moviecard:hover .overlay {
    opacity: 1;

}


/*MovieDetail*/
.banner-item-detail {
    height: 600px;
    display: flex;
    align-items: center;

}


.movie-detail-container-row {
    padding: 30px;
}



.movie-detail-img {
    display: flex;
    justify-content: right;
}

.moviecard-detail {
    width: 400px;
    height: 600px;
    background-size: cover;

}

.movie-detail-row button {
    width: 100% !important;
    background: none !important;
    border: 1px solid #d24036;
}

.movie-detail-row button:hover {
    background-color: #d24036 !important;
    border: 1px solid #d24036;
}

@media (max-width: 991px) {
    .movie-detail-img {
        justify-content: center;
    }

    .movie-detail-info {
        justify-content: center !important;
        align-items: center;
    }

    .movie-detail-row {
        width: 100% !important;
        justify-content: center !important;
    }

    .movie-detail-row p {
        width: 80% !important;
        justify-content: center !important;
    }

    .movie-detail-row div {
        width: 100% !important;
        justify-content: center !important;
        display: flex;
        flex-direction: row;
    }

    .movie-detail-row div div {
        justify-content: center !important;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .movie-detail-row div span.badge {
        justify-content: left !important;
        display: flex;
        width: auto !important;
        margin: 0.8rem 0.5rem 0 0.5rem;

    }

    .movie-detail-row div span.badge-info {
        justify-content: center !important;
        display: flex;
        width: 70% !important;
    }

    .col-arrange div {
        width: 60px;
        padding: 0 3rem !important;

    }

}

@media (max-width: 500px) {
    .movie-detail-row div div {
        font-size: smaller;
    }

}

.movie-detail-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 400px;
}

.movie-detail-row {
    padding: 5px 0;
}

.col-arrange {
    display: flex;
    flex-direction: row;
}

.col-arrange div {
    padding-right: 80px;
}

.movie-detail-row p {
    width: 400px;
    font-size: 13px;
}

.badge {
    margin: 0 2px;
}

.movie-detail-title {
    width: 400px;
}

.movie-detail-title h1 {
    width: 100%;
}


.bedge-info-container {
    width: 400px;
}

.badge-info {
    width: 100px;
}

.adultfont {
    color: red;
    font-style: italic;
    font-weight: bold;
}

.line {
    border-top: 1px solid whitesmoke;
    padding: 20px 0;
    width: 400px;
}

.moviecard-recommand-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 100px 100px; */
    grid-gap: 10px;
    justify-items: center;


}

.moviecard-recommand {
    width: 355px;
    height: 200px;
}

.moviecard-recommand:hover .overlay {
    opacity: 1;
}

#tabsstyle {
    color: red;
}

.reviewdiv {
    border-bottom: 1px solid whitesmoke;
    margin: 20px 5px;
}


/*Movies.js*/
.movielistcard {

    margin: 10px;
    background-size: cover;
    box-shadow: 8px 8px 20px 10px #530909;
    transition: 0.3s;
    border-radius: 5px;
}

@media (max-width: 992px) {
    .movielistcard {
        width: 200px;
        height: 350px;

    }

}

@media (min-width: 992px) {
    .movielistcard {
        width: 250px;
        height: 425px;

    }
}


@media (min-width: 1200px) {
    .movielistcard {
        width: 300px;
        height: 500px;

    }
}




.movielistcard:hover {
    box-shadow: 4px 8px 20px 10px #a71d13;
    transform: scale(1.02);
    transition: all .4s;
}

.moviecard-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;

}


.moviecard-list-item {
    padding: 30px;

}

.overlay-moviecard {
    /* opacity: 0; */
    /* background: rgba(53, 51, 51, 0.9); */
    background: linear-gradient(to right, black, transparent);
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 1rem;

}

.overlay-moviecard h1 {
    font-size: 1.5rem;
}

.moviecard-search-containter {
    margin-top: 2rem;
}

.moviecard-search-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.moviecard-search-item {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

/*991 767 463*/
/*MyFilter*/
.filter-container {
    flex-direction: column;
}

.dropdown-style button,
.dropdown-style-container button {
    margin: 5px;
    width: 200px;
    text-align: justify;
    border-color: white;
    background-color: black;
    color: white;

}

.dropdown-style button:hover,
.dropdown-style-container button:hover,
.dropdown-style-container a:hover {
    border-color: #a71d13;
    background-color: black;
    color: #a71d13;
}

.dropdown-style button.show,
.dropdown-style-container button.show,
.dropdown-style-container a.show {
    border-color: #a71d13;
    background-color: #a71d13;
    color: white;
}

.dropdown-style-container {
    width: 200px;

}

/* .dropdown-style-nav {
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: 15px;
    justify-content: center;
} */

/* .dropdown-style div {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
} */
.divider {
    color: white;
}

.sortdiv {
    border: 1px solid white;
    /* width: 200px; */
    border-color: #a71d13;
    background-color: black;
    border-radius: 7px;
    padding: 2.5rem 2rem;
    margin: 0 5px;
    font-size: 16px;
    color: white;
}

.sortoptiondiv {
    font-size: 15px;
    width: 150px;

}

/* .sortoptiondiv div {
    border: 1px solid white;
} */


.sortoptiondiv div a {
    border-bottom: 1px solid white;

    width: 150px;
    padding: 5px;
    color: white;
    font-size: 12px;

}

/* .dropdown-style-nav-item {
    font-size: 13px;
    width: 150px;
} */

.nav-dropdown-style {
    /* border: 1px solid white; */
    color: white;
}

.nav-dropdown-style a {
    border-bottom: 1px solid white;
    width: 200px;
    padding: 5px;
    color: white;
    background-color: #a71d13;
    border-radius: 5px;
}


.dropdown-menu.show,
.dropdown-menu {
    /* display: block; */
    background-color: black;
    padding: 0;
}




.filter-dropdown-style.dropdown-menu.show {
    border: 1px solid #a71d13;
    margin: 7px 0;

    justify-content: center;

    display: flex;
    flex-direction: column;

}

.input-range {
    width: 80% !important;
    margin: 0 auto;
}

.input-range__slider {
    border: 1px solid #dc143c !important;
}

.input-range-container {
    padding: 50px 0;
    border-bottom: 1px solid #dc143c;
    width: 200px;
    color: white;


}

.input-range-container h3 {
    font-size: 1rem;
    text-align: center;

}

.input-range-container label,
.nav-dropdown-genre label {
    color: white;
    font-size: 1.1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;

}

.form {
    margin: 0 auto;
    padding: 30px 0;
    color: red;

}


.input-range__slider,
.input-range__track--active {
    background: #dc143c !important;
}

.input-range {
    margin-bottom: 30px;
    /* background-color: ; */
}

.nav-dropdown-genre {
    padding: 30px 10px;
}

.filterbadge {
    margin: 2px;

}